@font-face {
  font-family: "myFirstFont";
  src: url("freelandfonts.ttf");
}


/* navbar */
.navbar{
  width: 100%;
  position: fixed;
  z-index: 1;
  margin-top: 0;
  padding: 0;
  font-family: myFirstFont;
  font-weight: bold;
}
.navbar ul{
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: #77c3cc;
  flex: 1;
}

.navbar ul li{
  display: inline-block;
}

.navbar li a{
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 25px 20px;
  font-size: 17px;
  color: white;
  letter-spacing: 2px;
}




/* hero section */

.hero_section{
  display: flex;
  justify-content: center;   /*horizontally center*/
  align-items: center;  /*vertically center*/
  width: 100%;
  height: 900px;
  background-image:linear-gradient(darkgrey,darkgrey) ,url("../img/gallerycover2.jpg");
  background-size: cover;
  background-blend-mode: multiply;
}

.hero_text{
  color: white;
  text-align: center;

}

.hero_text h1{
  font-size: 150px;
  font-weight: bold;
  font-family: myFirstFont;
}

.hero_text p{
  letter-spacing: 5px;
  font-family: myFirstFont;
  font-weight: bold;
}


/* gallery */

.heading{
  margin: auto;
  font-family: myFirstFont;
  font-size: 100px;
  text-align: center;
  padding: 20px 0;
  color:#c3a343;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent, transparent),
  url(../img/pink1.jpg) repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;

}

/*
.header{
  font-size: 50px;
  font-weight: bold;
  margin: auto;
  background-color: #ffd0d7;
  color:#ff6a80;
  text-align: center;
  font-family: myFirstFont;
}
 */

.gallery{
  display: flex;
}
.caption-style-3{
  list-style-type: none;
  margin: 0px;
  padding: 0px;

}

.caption-style-3 li{
  float: left;
  padding: 0px;
  position: relative;
  overflow: hidden;
}

.caption-style-3 li:hover .caption{
  opacity: 1;
  transform: translateY(-100px);
  -webkit-transform:translateY(-100px);
  -moz-transform:translateY(-100px);
  -ms-transform:translateY(-100px);
  -o-transform:translateY(-100px);
}

.caption-style-3 li:hover img{
  opacity: 1;
  transform: translateY(-40px);
  -webkit-transform:translateY(-40px);
  -moz-transform:translateY(-40px);
  -ms-transform:translateY(-40px);
  -o-transform:translateY(-40px);

}


.caption-style-3 img{

  margin: 0px;
  padding: 20px;
  float: left;
  z-index: 0;
}


.caption-style-3 .caption{
  cursor: pointer;
  position: absolute;
  opacity: 0;
  top:300px;
  -webkit-transition:all 0.15s ease-in-out;
  -moz-transition:all 0.15s ease-in-out;
  -o-transition:all 0.15s ease-in-out;
  -ms-transition:all 0.15s ease-in-out;
  transition:all 0.15s ease-in-out;

}

.caption-style-3 img{
  -webkit-transition:all 0.15s ease-in-out;
  -moz-transition:all 0.15s ease-in-out;
  -o-transition:all 0.15s ease-in-out;
  -ms-transition:all 0.15s ease-in-out;
  transition:all 0.15s ease-in-out;

}
.caption-style-3 .blur{
  background-color: #ffd0d7;
  height: 300px;
  width: 400px;
  z-index: 5;
  position: absolute;
  left:20px;
  color:#ff6a80;
  font-weight: bold;
}

.caption-style-3 .caption-text h1{
  text-transform: uppercase;
  font-size: 18px;
  color:#ff6a80;
  font-weight: bold;
}
.caption-style-3 .caption-text{
  z-index: 10;
  color: #fff;
  position: absolute;
  width: 400px;
  height: 300px;
  text-align: center;
  top:20px;
  color:#ff6a80;
  font-weight: bold;
}



p.credit{
  padding-top: 20px;
  font-size: 12px;
  color:#ff6a80;
  font-weight: bold;
}

p a{
  color: #ecf0f1;
  color:#ff6a80;
  font-weight: bold;
}

/* shooter */


.container{
  background-color: #f6f6f6;
  text-align: center;
  padding: 30px;
}

.container .col{
  font-weight: bold;
}

.hell {
  background-color: pink; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}




 /*
 footer */



 .footer-distributed{
 	background: #77c3cc;
 	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
 	box-sizing: border-box;
 	width: 100%;
 	text-align: left;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
 	font: bold 16px sans-serif;
 	padding: 55px 50px;
 }

 .footer-distributed .footer-left,
 .footer-distributed .footer-center,
 .footer-distributed .footer-right{
 	display: inline-block;
 	vertical-align: top;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
 }

 /* Footer left */

 .footer-distributed .footer-left{
 	width: 40%;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
 }

 /* The company logo */

 .footer-distributed h3{
 	color:  #ffffff;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
 	font: normal 36px 'Open Sans', cursive;
 	margin: 0;
 }

 .footer-distributed h3 span{
 	color:  white;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
 }

 /* Footer links */

 .footer-distributed .footer-links{
 	color:  #ffffff;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
 	margin: 20px 0 12px;
 	padding: 0;
 }

 .footer-distributed .footer-links a{
 	display:inline-block;
 	line-height: 1.8;
   font-weight:400;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
 	text-decoration: none;
 	color:  inherit;
 }

 .footer-distributed .footer-company-name{
 	color:  #222;
 	font-size: 14px;
 	font-weight: normal;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
 	margin: 0;
 }

 /* Footer Center */

 .footer-distributed .footer-center{
 	width: 35%;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
 }

 .footer-distributed .footer-center i{
 	background-color:  #33383b;
 	color: #ffffff;
 	font-size: 25px;
 	width: 38px;
 	height: 38px;
 	border-radius: 50%;
 	text-align: center;
 	line-height: 42px;
 	margin: 10px 15px;
 	vertical-align: middle;

 }

 .footer-distributed .footer-center i.fa-envelope{
 	font-size: 17px;
 	line-height: 38px;
 }

 .footer-distributed .footer-center p{
 	display: inline-block;
 	color: #ffffff;
   font-weight:400;
 	vertical-align: middle;
 	margin:0;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
 }

 .footer-distributed .footer-center p span{
 	display:block;
 	font-weight: normal;
 	font-size:14px;
 	line-height:2;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
 }

 .footer-distributed .footer-center p a{
 	color:  white;
 	text-decoration: none;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
 }

 .footer-distributed .footer-links a:before {
   content: "|";
   font-weight:300;
   font-size: 20px;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
   left: 0;
   color: #fff;
   display: inline-block;
   padding-right: 5px;
 }

 .footer-distributed .footer-links .link-1:before {
   content: none;
 }

 /* Footer Right */

 .footer-distributed .footer-right{
 	width: 20%;
 }

 .footer-distributed .footer-company-about{
 	line-height: 20px;
 	color:  #92999f;
 	font-size: 13px;
 	font-weight: normal;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
 	margin: 0;
 }

 .footer-distributed .footer-company-about span{
 	display: block;
 	color:  #ffffff;
 	font-size: 14px;
 	font-weight: bold;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
 	margin-bottom: 20px;
 }

 .footer-distributed .footer-icons{
 	margin-top: 25px;
 }

 .footer-distributed .footer-icons a{
 	display: inline-block;
 	width: 35px;
 	height: 35px;
 	cursor: pointer;
 	background-color:  #33383b;
 	border-radius: 2px;

 	font-size: 20px;
 	color: #ffffff;
 	text-align: center;
 	line-height: 35px;

 	margin-right: 3px;
 	margin-bottom: 5px;
 }

 /* If you don't want the footer to be responsive, remove these media queries */

 @media (max-width: 880px) {

 	.footer-distributed{
 		font: bold 14px sans-serif;
     font-family: "Trebuchet MS", Helvetica, sans-serif;
 	}

 	.footer-distributed .footer-left,
 	.footer-distributed .footer-center,
 	.footer-distributed .footer-right{
 		display: block;
 		width: 100%;
     font-family: "Trebuchet MS", Helvetica, sans-serif;
 		margin-bottom: 40px;
 		text-align: center;
 	}

 	.footer-distributed .footer-center i{
 		margin-left: 0;
 	}

 }
