body{
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

*{
  box-sizing: border-box;
}
/* utilities */
@font-face {
  font-family: "myFirstFont";
  src: url("freelandfonts.ttf");
}

h1,h4,h5,p{
  margin: 0;
}

.bg_dark{
  background-color: rgba(33,33,33,1);
}

.text_light{
  color: white;
}

.btn_dark, .btn_light{
  display: inline-block;   /*display block will occupy whole width inline will wrap content */
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 100px;
  font-size: 14px;
  letter-spacing: 2px;
  transition: all 0.4s;

}

.btn_light{
  background-color: darkgrey;

}

.btn_dark{
  background-color: #212121;
}
.btn_dark : hover{
  background-color: white;
  color: black;
}

.margin_top{
  margin-top: 15px;
}

.image_responsive{
  width:100%;
  max-width: 100%;
  height:auto;
}
/* animation on scroll */




/* navbar */
.navbar{
  width: 100%;
  position: fixed;
  z-index: 1;
  margin-top: 0;
  padding: 0;
  font-family: myFirstFont;
  font-weight: bold;
}
.navbar ul{
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: #77c3cc;
  flex: 1;
}

.navbar ul li{
  display: inline-block;
}

.navbar li a{
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 25px 20px;
  font-size: 17px;
  color: white;
  letter-spacing: 2px;
}

/* hero section */

.hero_section{
  display: flex;
  justify-content: center;   /*horizontally center*/
  align-items: center;  /*vertically center*/
  width: 100%;
  height: 900px;
  background-image:linear-gradient(darkgrey,darkgrey) ,url("../img/cover.jpg");
  background-size: cover;
  background-blend-mode: multiply;
}

.hero_text{
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.hero_text h1{
  font-size: 100px;
  font-weight: bold;
  font-family: myFirstFont;
}

.hero_text p{
  letter-spacing: 5px;
  font-family: myFirstFont;
  font-weight: bold;
  font-size: 30px;
}

/* about company */

.container{
  padding-top: 40px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
}

.row{
  padding:40px 0px;
}


.button {
  background-color:#77c3cc ;
  border: none;
  color: white;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}
/* sevices section */

.heading{
  margin: auto;
  font-family: myFirstFont;
  font-size: 50px;
  text-align: center;
}
.fluid-container{
  width:1200px;
  height: auto;
  margin: auto;
}

/*
/* recipe section

.recipe_section{
  padding: 70px 0px;
}

.image_wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: darkgrey;
  overflow: hidden;
  border-radius: 3px;

}


.image_wrapper-text{
  padding: 30px 15px;
  max-height: 150px;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  color: white ;

}

.image_wrapper-text h5{
  color: white;
  font-size: 20px;
  font-weight: 500;
}

/* about section

.about_section{
  padding: 50px 0px;
  background-color: rgba(33,33,33,0.9);
  color: white;
}

.about_section h4{
  font-size: 28px;
  font-weight: 500;

}

.about_section p{
  line-height: 36px;
  font-weight: 100;

}


.image_background img{
  box-shadow: 0px 0px 10px 1px rgba(33,33,33,0.5);
}
 */


/* shooters */
#shooter .row{
  padding: 60px;
}

#shooter .image_wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: darkgrey;

}

#shooter .image_wrapper img{
  width:100%;
  max-width: 100%;
  height: auto;
}

#shooter .image_wrapper-text{
  padding: 30px 15px;
  max-height: 150px;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  color: white ;

}


#shooter .button {
  background-color: #ff85a2;
  border-radius: 3px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


 /* footer */

 /*
 footer */



 .footer-distributed{
 	background: #77c3cc;
 	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
 	box-sizing: border-box;
 	width: 100%;
 	text-align: left;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
 	font: bold 16px sans-serif;
 	padding: 55px 50px;
 }

 .footer-distributed .footer-left,
 .footer-distributed .footer-center,
 .footer-distributed .footer-right{
 	display: inline-block;
 	vertical-align: top;
   font-family: myFirstFont;
 }

 /* Footer left */

 .footer-distributed .footer-left{
 	width: 40%;
   font-family: myFirstFont;
 }

 /* The company logo */

 .footer-distributed h3{
 	color:  #ffffff;
   font-family: myFirstFont;
 	font: normal 36px myFirstFont;
 	margin: 0;
  padding: 0;
 }


 /* Footer links */

 .footer-distributed .footer-links{
 	color:  #ffffff;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
 	margin: 20px 0 12px;
 	padding: 0;
 }

 .footer-distributed .footer-links a{
 	display:inline-block;
 	line-height: 1.8;
   font-weight:400;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
 	text-decoration: none;
 	color:  inherit;
 }

 .footer-distributed .footer-company-name{
 	color:  #222;
 	font-size: 14px;
 	font-weight: normal;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
 	margin: 0;
 }

 /* Footer Center */

 .footer-distributed .footer-center{
 	width: 35%;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
 }

 .footer-distributed .footer-center i{
 	background-color:  #33383b;
 	color: #ffffff;
 	font-size: 25px;
 	width: 38px;
 	height: 38px;
 	border-radius: 50%;
 	text-align: center;
 	line-height: 42px;
 	margin: 10px 15px;
 	vertical-align: middle;

 }

 .footer-distributed .footer-center i.fa-envelope{
 	font-size: 17px;
 	line-height: 38px;
 }

 .footer-distributed .footer-center p{
 	display: inline-block;
 	color: #ffffff;
   font-weight:400;
 	vertical-align: middle;
 	margin:0;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
 }

 .footer-distributed .footer-center p span{
 	display:block;
 	font-weight: normal;
 	font-size:14px;
 	line-height:2;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
 }

 .footer-distributed .footer-center p a{
 	color:  white;
 	text-decoration: none;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
 }

 .footer-distributed .footer-links a:before {
   content: "|";
   font-weight:300;
   font-size: 20px;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
   left: 0;
   color: #fff;
   display: inline-block;
   padding-right: 5px;
 }

 .footer-distributed .footer-links .link-1:before {
   content: none;
 }

 /* Footer Right */

 .footer-distributed .footer-right{
 	width: 20%;
 }

 .footer-distributed .footer-company-about{
 	line-height: 20px;
 	color:  white;
 	font-size: 13px;
 	font-weight: normal;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
 	margin: 0;
 }

 .footer-distributed .footer-company-about span{
 	display: block;
 	color:  #ffffff;
 	font-size: 14px;
 	font-weight: bold;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
 	margin-bottom: 20px;
 }

 .footer-distributed .footer-icons{
 	margin-top: 25px;
 }

 .footer-distributed .footer-icons a{
 	display: inline-block;
 	width: 35px;
 	height: 35px;
 	cursor: pointer;
 	background-color:  #33383b;
 	border-radius: 2px;

 	font-size: 20px;
 	color: #ffffff;
 	text-align: center;
 	line-height: 35px;

 	margin-right: 3px;
 	margin-bottom: 5px;
 }

 /* If you don't want the footer to be responsive, remove these media queries */

 @media (max-width: 880px) {

 	.footer-distributed{
 		font: bold 14px sans-serif;
     font-family: "Trebuchet MS", Helvetica, sans-serif;
 	}

 	.footer-distributed .footer-left,
 	.footer-distributed .footer-center,
 	.footer-distributed .footer-right{
 		display: block;
 		width: 100%;
     font-family: "Trebuchet MS", Helvetica, sans-serif;
 		margin-bottom: 40px;
 		text-align: center;
 	}

 	.footer-distributed .footer-center i{
 		margin-left: 0;
 	}

 }


/* extra section */

.extra_section{
  padding: 70px 0px;
}

.extra_section h4{
  font-size: 20px;
  font-weight: 500;
}

.extra_section p{
  line-height: 36px;
  font-weight: 300;
}
